@if(member){
<div
  class="flex flex-col gap-2 min-w-80 p-5 mt-10 border border-gray-400 m-4 shadow-2xl"
>
  <img
    class="object-cover w-72 rounded-t-lg md:rounded-none md:rounded-s-lg"
    src="{{ member.photoUrl }}"
    alt="{{ member.knownAs }}"
  />
  <h5
    class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white"
  >
    {{ member.knownAs }}
  </h5>
  <h5 class="text-xl font-medium tracking-tight dark:text-purple-400">
    Location:
    <span class="font-normal text-lg text-white"
      >{{ member.country }}, {{ member.city }}</span
    >
  </h5>
  <h5 class="text-xl font-medium tracking-tight dark:text-purple-400">
    Age: <span class="font-normal text-white">{{ member.age }}</span>
  </h5>
  <h5 class="text-xl font-medium tracking-tight dark:text-purple-400">
    Last Active:
    <span class="font-normal text-white">{{ lastAvtiveDate }}</span>
  </h5>
  <h5 class="text-xl font-medium tracking-tight dark:text-purple-400">
    Member Since:
    <span class="font-normal text-white">{{ MemberSinceDate }}</span>
  </h5>
</div>
}
