<div class="grid grid-cols-3">
  <div class="col-span-2 max-w-2xl">
    <div *ngFor="let msg of messages">
      <app-bubble-inner [msg]="msg"></app-bubble-inner>
    </div>
  </div>
  <div class="col-span-1">
    <form #editForm="ngForm" id="editForm" (ngSubmit)="sendMesg()">
      <textarea name="content" class="textarea textarea-info w-full" placeholder="msg" [(ngModel)]="newMessageContent"></textarea>
      <button type="submit" class="btn btn-circle btn-primary">Send</button>
    </form>
    <div *ngIf="pagination" class="join mx-auto">
      <button *ngFor="let i of range(1, pagination.totalPages)" class="join-item btn" [class.btn-active]="this.pageNumber === i" (click)="pageChange(i)">
        {{ i }}
      </button>
    </div>
  </div>
</div>
