<div class="overflow-x-auto">
  <table class="table text-orange-500">
    <!-- head -->
    <thead>
      <tr>
        <th>User Name</th>
        <th>Active Roles</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      <tr *ngFor="let user of users">
        <td>{{ user.username }}</td>
        <td>{{ user.roles }}</td>
        <td><button class="btn btn-circle" (click)="showModal(user)">Edit Role</button></td>
      </tr>
      <!-- row 2 -->
    </tbody>
  </table>
</div>
<dialog id="my_modal_1" class="modal" #dialog>
  <div class="modal-box">
    <h3 class="font-bold text-lg">Edit {{ selectedUser?.username }} Role</h3>
    <div class="modal-content">
      <label class="label cursor-pointer">
        <span class="label-text">Admin</span>
        <input type="checkbox" #admin [checked]="selectedUser?.roles?.includes('Admin')" class="checkbox" />
      </label>
      <label class="label cursor-pointer">
        <span class="label-text">Moderator</span>
        <input type="checkbox" #moderator [checked]="selectedUser?.roles?.includes('Moderator')" class="checkbox" />
      </label>
      <label class="label cursor-pointer">
        <span class="label-text">Member</span>
        <input type="checkbox" #member [checked]="selectedUser?.roles?.includes('Member')" class="checkbox" />
      </label>
    </div>
    <div class="modal-action">
      <form method="dialog">
        <button class="btn" (click)="clearUser()">Cancel</button>
        <button class="btn btn-warning" (click)="submit()">Save Changes</button>
      </form>
    </div>
  </div>
</dialog>
