<div
  *ngIf="member"
  class="flex flex-col border rounded-lg shadow md:flex-row dark:border-gray-700 dark:bg-transparent text-gray-200"
>
  <app-member-main-card [member]="member"></app-member-main-card>
  <!-- tabs -->
  <div class="flex flex-col w-full justify-between leading-normal">
    <div class="text-left">
      <div role="tablist" class="tabs m-4">
        <a
          role="tab"
          class="tab hover:text-pink-400 hover:scale-125 transition-transform duration-300"
          (click)="toogleTab(1)"
          >About {{ member.knownAs }}</a
        >
        <a
          role="tab"
          class="tab hover:text-pink-400 hover:scale-125 transition-transform duration-300"
          (click)="toogleTab(2)"
          >Intrests</a
        >
        <a
          role="tab"
          class="tab hover:text-pink-400 hover:scale-125 transition-transform duration-300"
          (click)="toogleTab(3)"
          >Photos</a
        >
        <a
          role="tab"
          class="tab hover:text-pink-400 hover:scale-125 transition-transform duration-300"
          (click)="toogleTab(4)"
          >Messages</a
        >
      </div>
      <div *ngIf="intorBool" class="flex flex-col items-start gap-3">
        <span class="font-bold text-2xl">Description</span>
        <p>{{ member.introduction }}</p>
        <hr />
        <span class="font-bold text-2xl">Looking For</span>
        <p>{{ member.lookingFor }}</p>
      </div>
      <p *ngIf="intrestBool">{{ member.interests }}</p>
      <app-member-photo *ngIf="photoBool" [srcList]="images"
        >PhotoTab</app-member-photo
      >
      <p *ngIf="messagesBool">Mesage Tab</p>
    </div>
  </div>
</div>
