<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>

  <body
    class="leading-normal tracking-normal text-indigo-400 m-1 bg-cover bg-fixed"
    style="background-image: url('assets/header.png')"
  >
    <div class="h-screen">
      <app-nav></app-nav>
      <div class="container pt-24 md:pt-36 mx-auto items-center">
        <app-home></app-home>
      </div>
    </div>
  </body>
</html>
