<div class="flex flex-col gap-5 items-center">
  <ng-container *ngIf="userParams" class="w-full">
    <form #form="ngForm" (ngSubmit)="loadMembers()" class="w-full">
      <div class="w-full flex flex-row justify-center gap-5">
        <div class="join">
          <select name="gender" [(ngModel)]="userParams.gender" class="select select-bordered w-full max-w-xs join-item">
            <option disabled selected>Gender</option>
            <option *ngFor="let gender of genderList" id="gender" [value]="gender.value">
              {{ gender.display }}
            </option>
          </select>
          <div class="join-item w-20 bg-slate-700">
            <label for="minAge">MinAge</label>
            <input type="number" name="minAge" class="bg-transparent w-20" [(ngModel)]="userParams.minAge" />
          </div>
          <div class="join-item bg-slate-700 w-20">
            <label for="minAge" class="join-item bg-slate-700">MaxAge</label>
            <input type="number" name="maxAge" [(ngModel)]="userParams.maxAge" class="bg-transparent w-20" />
          </div>
          <button type="submit" class="btn btn-success join-item">Filter</button>
          <button type="button" (click)="resetFilters()" class="btn btn-success join-item">Rest</button>
        </div>
        <div class="join">
          <button
            class="join-item btn btn-primary"
            name="orderBy"
            (click)="loadMembers('lastActive')"
            [class.underline]="userParams.orderBy === 'lastActive'"
            [(ngModel)]="userParams.orderBy"
            type="button"
          >
            Last Active
          </button>
          <button
            class="join-item btn btn-primary"
            name="orderBy"
            [class.underline]="userParams.orderBy === 'created'"
            [(ngModel)]="userParams.orderBy"
            (click)="loadMembers('created')"
            type="button"
          >
            Created Date
          </button>
        </div>
      </div>
    </form>
  </ng-container>
  <div class="flex flex-row flex-wrap gap-5 items-center justify-center p-2">
    <app-member-card *ngFor="let member of members" [member]="member">{{ member.knownAs }}</app-member-card>
  </div>
  <div *ngIf="pagination" class="join mx-auto">
    <button
      *ngFor="let i of range(1, pagination.totalPages)"
      class="join-item btn"
      [class.btn-active]="this.userParams?.pageNumber === i"
      (click)="pageChange(i)"
    >
      {{ i }}
    </button>
  </div>
</div>
