<div class="p-4 text-center lg:text-left" *ngIf="member">
  <h1 class="text-3xl font-bold pt-8 lg:pt-0">{{ member.knownAs }}</h1>
  <div class="mx-auto lg:mx-0 w-4/5 pt-3 border-b-2 border-green-500 opacity-25"></div>
  <div class="flex justify-between items-center">
    <p class="pt-4 text-base font-bold flex items-center justify-center lg:justify-start">
      {{ member.introduction }}
    </p>
  </div>
  <div class="mx-auto lg:mx-0 w-4/5 pt-3 border-b-2 border-green-500 opacity-25"></div>
</div>
